body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f4f4;
  line-height: 1.2;
}

.border {
  border: 1px solid red;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: calc(1134px + 30px);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.error-message {
  color: red;
}

.header {
  padding: 35px 0;
  background-color: #fbfbfb;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper > *:not(:last-child) {
  margin-bottom: 50px;
}

.header__search {
  width: 100%;
}

.header__search .input__wrapper {
  width: 100%;
  padding: 3px;
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d2d2d2;
  border-radius: 9999px;
}

.header__search .input__wrapper .header__search--input {
  width: 100%;
  padding: 10px 30px;
}

@media (max-width: 767px) {
  .header__search .input__wrapper .header__search--input {
    font-size: calc( 14px + 6.8 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  .header__search .input__wrapper .header__search--input {
    font-size: calc(14px + 4 * (100vw / 1920));
  }
}

.header__search .input__wrapper .header__search--button {
  width: 168px;
}

.header__search > *:not(:last-child) {
  margin-bottom: 10px;
}

.header__search .header__search--button {
  width: 100%;
  padding: 10px 0;
  background-color: #fdbb00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.header__search .header__search--button:hover {
  background-color: #f3b300;
}

.header__search ._desktop--button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 576px) {
  .header__search ._desktop--button {
    display: none;
  }
}

.header__search ._mobile--button {
  display: none;
}

@media (max-width: 576px) {
  .header__search ._mobile--button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.how {
  padding: 60px 0;
}

.how .how__wrapper .how__title {
  font-weight: bold;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .how .how__wrapper .how__title {
    font-size: calc( 34px + 23.8 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  .how .how__wrapper .how__title {
    font-size: calc(34px + 14 * (100vw / 1920));
  }
}

.how .how__wrapper .how__subtitle {
  font-weight: bold;
}

@media (max-width: 767px) {
  .how .how__wrapper .how__subtitle {
    font-size: calc( 18px + 10.2 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  .how .how__wrapper .how__subtitle {
    font-size: calc(18px + 6 * (100vw / 1920));
  }
}

.how .how__wrapper .how__steps.steps {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.99px) {
  .how .how__wrapper .how__steps.steps {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 410px) {
  .how .how__wrapper .how__steps.steps {
    margin: -20px;
  }
}

.how .how__wrapper .step {
  margin-bottom: 50px;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.how .how__wrapper .step > *:not(:last-child) {
  margin-bottom: 15px;
}

@media (min-width: 410px) {
  .how .how__wrapper .step {
    margin: 20px;
  }
}

.how .how__wrapper .step__image {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  width: 190px;
  height: 190px;
}

.how .how__wrapper .step__image::after {
  content: attr(data-step);
  position: absolute;
  top: -20px;
  left: -20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fdbb00;
  border-radius: 50%;
}

.how .how__wrapper .step__title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.how .how__wrapper .step__text {
  width: 100%;
  font-size: 18px;
}

.footer {
  padding: 20px 0;
  background-color: #313131;
  color: #707070;
}

.footer .footer__wrapper .footer__copyright {
  text-align: center;
}

@media (max-width: 767px) {
  .footer .footer__wrapper .footer__copyright {
    font-size: calc( 14px + 3.4 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 767px) {
  .footer .footer__wrapper .footer__copyright {
    font-size: calc(14px + 2 * (100vw / 1920));
  }
}

.video-player {
  padding: 30px 0;
  background-color: #fbfbfb;
}

.video-player__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

@media (max-width: 567px) {
  .video-player__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.video-player__col {
  height: 100vh;
  margin-bottom: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 740px) {
  .video-player__col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.video-player__col-xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 30px;
}

@media (min-width: 567px) {
  .video-player__col-xl {
    margin-right: 20px;
  }
}

.video-player__iframe iframe {
  width: 100%;
  aspect-ratio: 2;
}

.video-player .related {
  padding-right: 20px;
}

.video-player .related__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.video-player .videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-player .videos > *:not(:last-child) {
  margin-bottom: 20px;
}

.video {
  width: 300px;
  overflow: hidden;
}

.video > *:not(:last-child) {
  margin-bottom: 8px;
}

.video__image img {
  width: 100%;
}

.video__title {
  font-weight: 16px;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video__chips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__chips > *:not(:last-child) {
  margin-right: 10px;
}

.video__chips .chip {
  padding: 5px 7px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #7e7e7e;
  border-radius: 999px;
  font-size: 14px;
}

.video__chips .chip__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
}

.video__chips .chip__icon svg {
  width: 18px;
  height: 18px;
}

.video__chips .chip__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.video-info__name {
  margin: 24px 0 18px;
  font-size: 16px;
  font-weight: bold;
}

.video-info__sub-info {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-info__sub-info > *:not(:last-child) {
  margin-right: 30px;
}

.video-info__sub-info > * {
  margin-bottom: 10px;
}

.video-info__channel-name {
  font-size: 14px;
  font-weight: bold;
  color: #0454be;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-info__video-date {
  font-size: 14px;
  font-weight: normal;
  color: #707070;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-info__description {
  text-overflow: ellipsis;
}

.video-info__description .description__link {
  color: #0454be;
}

.video-info__description .description__link:hover {
  text-decoration: underline;
}

.video__placeholder {
  width: 100%;
  aspect-ratio: 2;
  background-color: #c6c6c6;
  -webkit-animation: placeholder 1.5s infinite;
          animation: placeholder 1.5s infinite;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.related__placeholder {
  width: 100%;
  -webkit-animation: placeholder 1.5s infinite;
          animation: placeholder 1.5s infinite;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.related__placeholder .image {
  height: 150px;
  background-color: #c6c6c6;
}

.related__placeholder .text {
  margin-top: 10px;
  width: 60%;
  height: 30px;
  background-color: #c6c6c6;
}

@-webkit-keyframes placeholder {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes placeholder {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.channel__videos {
  background-color: #fbfbfb;
}

.channel__videos .channel-info {
  font-size: 18px;
  font-weight: bold;
}

.channel__videos .channel-info #js-channel-title {
  font-weight: normal;
}

.channel__videos .channel__videos__wrapper {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.channel__videos .channel__videos__wrapper .video {
  margin: 10px;
  display: block;
}
/*# sourceMappingURL=main.css.map */