// YOUR INITIAL STATES
$containerWidth: 1134px;
$maxWidth: 1920; // Ширина макета

@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f4f4;
  line-height: 1.2;
}

.border {
  border: 1px solid red;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: calc(#{$containerWidth} + 30px);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  flex: 1;
}

.header {
  padding: 35px 0;
  background-color: #fbfbfb;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > *:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  &__search {
    width: 100%;
    .input__wrapper {
      width: 100%;
      padding: 3px;
      background-color: #fff;
      display: flex;
      align-items: center;
      border: 1px solid #d2d2d2;
      border-radius: 9999px;
      .header__search--input {
        width: 100%;
        @include adaptive-font(18, 14);
        padding: 10px 30px;
      }
      .header__search--button {
        width: auto;
      }
    }
    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
    .header__search--button {
      width: 100%;
      padding: 10px 70px;
      background-color: #fdbb00;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;
      cursor: pointer;
      transition: background-color 0.2s;
      &:hover {
        background-color: darken($color: #fdbb00, $amount: 2);
      }
    }
    ._desktop--button {
      display: inline-flex;
      @media (max-width: 576px) {
        display: none;
      }
    }
    ._mobile--button {
      display: none;
      @media (max-width: 576px) {
        display: inline-flex;
      }
    }
  }
}

.how {
  padding: 60px 0;
  .how__wrapper {
    .how__title {
      @include adaptive-font(48, 34);
      font-weight: bold;
      margin-bottom: 15px;
    }
    .how__subtitle {
      @include adaptive-font(24, 18);
      font-weight: bold;
    }
    .how__steps.steps {
      margin: 100px 0;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 647px) {
        justify-content: center;
      }
      @media (min-width: 648px) {
        .step {
          margin-right: 50px;
        }
      }
    }
    .step {
      margin-bottom: 50px;
      max-width: 259px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      & > *:not(:last-child) {
        margin-bottom: 15px;
      }
      &__image {
        position: relative;
        display: inline-block;
        padding: 40px;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        border-radius: 10px;
        &::after {
          content: attr(data-step);
          position: absolute;
          top: -20px;
          left: -20px;
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 18px;
          font-weight: bold;
          background-color: #fdbb00;
          border-radius: 50%;
        }
      }
      &__title {
        font-size: 18px;
        font-weight: bold;
      }
      &__text {
        font-size: 18px;
      }
    }
  }
}

.footer {
  padding: 20px 0;
  background-color: #313131;
  color: #707070;
  .footer__wrapper {
    .footer__copyright {
      text-align: center;
      @include adaptive-font(16, 14);
    }
  }
}

.video-player {
  padding: 30px 0;
  background-color: #fbfbfb;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 739px) {
      flex-direction: column;
    }
  }
  &__col {
    width: 100%;
    flex: 1;
    margin-bottom: 30px;
  }
  &__col-xl {
    @media (min-width: 739px) {
      margin-right: 20px;
    }
    width: 100%;
    flex: 2;
    margin-bottom: 30px;
  }
  &__iframe iframe {
    width: 100%;
    min-width: 290px;
    min-height: 250px;
    aspect-ratio: 2;
  }
  .related {
    &__title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }
  .videos {
    display: flex;
    flex-direction: column;
    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .video {
    max-width: 315px;
    overflow: hidden;
    & > *:not(:last-child) {
      margin-bottom: 8px;
    }
    &__image {
      img {
        width: 100%;
      }
    }
    &__title {
      font-weight: 16px;
      font-weight: bold;
      white-space: nowrap;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__chips {
      display: flex;
      & > *:not(:last-child) {
        margin-right: 10px;
      }
      .chip {
        padding: 5px 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #7e7e7e;
        border-radius: 999px;
        &__icon {
          margin-right: 5px;
        }
        &__text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .video-info {
    &__name {
      margin: 24px 0 18px;
      font-size: 16px;
      font-weight: bold;
    }
    &__sub-info {
      margin-bottom: 18px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      & > *:not(:last-child) {
        margin-right: 30px;
      }
      & > * {
        margin-bottom: 10px;
      }
    }
    &__channel-name {
      font-size: 14px;
      font-weight: bold;
      color: #0454be;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__video-date {
      font-size: 14px;
      font-weight: normal;
      color: #707070;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__description {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .video__placeholder {
    width: 100%;
    aspect-ratio: 2;
    background-color: #c6c6c6;
    animation: placeholder 1.5s infinite;
    transition: opacity 1.5s;
  }

  .related__placeholder {
    width: 100%;
    animation: placeholder 1.5s infinite;
    transition: opacity 1.5s;
    .image {
      height: 150px;
      background-color: #c6c6c6;
    }
    .text {
      margin-top: 10px;
      width: 60%;
      height: 30px;
      background-color: #c6c6c6;
    }
  }
}

@keyframes placeholder {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
